{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_product %}
        <li><a href="{% url 'webapp:product_update' product.pk %}">Update</a></li>
    {% endif %}

    {% if perms.webapp.delete_product %}
        <li><a href="{% url 'webapp:product_delete' product.pk %}">Delete</a></li>
    {% endif %}

    <li><a href="{% url 'webapp:review_add' product.pk %}">Review Add</a></li>
{% endblock %}

{% block content %}
    <h1 class="text-center">{{ product.name }}</h1>
    <p>Категория: {{ product.get_category_display }}</p>
    <p>Описание: {{ product.description }}</p>
    <p>Средний рейтинг: {{ product.avg }}</p>
    {% if product.avatar %}
        <img class="avatar" src="{{ product.avatar.url }}" width="250" height="250" alt="product picture">
    {% else %}
        <img class="avatar" src="{% static 'images/unnamed (1).png' %}" width="250" height="250" alt="product picture">
    {% endif %}
    <hr>
    <h2 class="text-center">Отзывы</h2>
    {% for review in product.reviews.all %}
        <p>Review: {{ review.text_review }}</p>
        <p>User: <a href="{% url 'accounts:detail' review.author.pk %}">{{ review.author }}</a></p>
        <p>Email: {{ review.author.email }}</p>
        <p>Rating: {{ review.rating }}</p>
        {% if perms.webapp.change_review or review.author == request.user %}
            <p><a href="{% url 'webapp:review_update' review.pk %}">Update</a></p>
        {% endif %}
        {% if perms.webapp.delete_review or review.author == request.user %}
            <p><a href="{% url 'webapp:review_delete' review.pk %}">Delete</a></p>
        {% endif %}
        <hr>


        {#                    </div>#}
        {#                    <div class="goals-but">#}
        {#                        {% if perms.webapp.change_goal and request.user in goal.project.user.all  %}#}
        {#                            <p><a href="{% url 'webapp:goal_update' goal.pk %}">Update</a></p>#}
        {#                        {% endif %}#}
        {#                        {% if perms.webapp.delete_goal and request.user in goal.project.user.all %}#}
        {#                            <p><a href="{% url 'webapp:goal_delete' goal.pk %}">Delete</a></p>#}
        {#                        {% endif %}#}
        {#                    </div>#}
        {#                </div>#}

        {#            {% endif %}#}

    {% empty %}
        <p>No review</p>
    {% endfor %}
{% endblock %}