{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_review or review.author == request.user %}
        <li><a href="{% url 'webapp:review_update' review.pk %}">Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_review or review.author == request.user %}
        <li><a href="{% url 'webapp:review_delete' review.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ review.description }}</h1>
    <p>User: {{ review.author }}</p>
    <p>Email: {{ review.author.email }}</p>
    <p>Rating: {{ review.rating }}</p>
    <hr>
{% endblock %}
